.header {
  padding: 92px 50px 96px 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.header__links-list {
  display: flex;
  list-style: circle;
  gap: 32px;
}

.item-no-circle {
  list-style: none;
}

.header__logo {
  display: block;
  width: 135px;
  height: 105px;
}

.header__menu {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
}

 .header__link {
  text-decoration: underline solid 1px;
  text-underline-offset: 4.1px;
 }


.header__link_active {
  text-decoration: none;
}

.address {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  letter-spacing: 0;
  width: 240px;
  max-width: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.address-item {
  text-decoration: underline solid 1px;
  text-underline-offset: 4.1px;
}

.header__address {
  justify-self: end;
}

.cover {
  position: relative;
  margin-top: 0;
  margin-bottom: 185px;
  padding: 165px 50px 50px 50px;
  background: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.aligned-text,
.cover__description-text,
.bet-button {
  position: relative;
  z-index: 2;
}

.cover__title {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 17px;
  color: #fff;
}

.last-letter {
  letter-spacing: 0;
}

.aligned-text {
  display: block;
  width: 100%;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
  padding-left: 30px;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  padding-top: 106px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 19px; /* комментарий старшего наставника Максима Иванова: "там дизайнер жару дал и между разными словами разный отступ сделал, можно не исправлять" */
}

.bet-button {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  background: none;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: pointer;
  min-width: 256px;
  min-height: 51px;
  border: 1px solid;
  background-color: transparent;
  color: #fff;
}

.lots {
  padding: 0 24px 0 24px;
  margin: auto;
}

.lots__heading {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 30px;
}

.lots__card-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-bottom: 33px;
}

.lots__card-list-item {
  min-width: 334px;
  min-height: 596px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.card-link,
.card {
  height: 100%;
}

.card-link {
  text-decoration: none;
}

.card__text,
.card__title {
  position: relative;
  z-index: 3;
}

.card__title {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0;
  text-transform: uppercase;
  text-decoration: underline solid 1px;
  text-underline-offset: 2.5px;
  text-decoration-thickness: 0%;
  padding: 48px 40px 0px 40px;
}

.card__text {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
  text-decoration: none;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 48px;
}

.card_type_film {
  background: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background: url("../images/card-lot-03.jpg");
}

.card-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.lots__look-more-link {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
  text-decoration: underline solid 1px;
  text-underline-offset: 4px;
  margin-left: 40px;
}

.about {
  margin-top: 95px;
  margin-bottom: 158px;
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  padding: 24px;
}

.column-logo {
  display: flex;
  justify-content: center;
}

.about__logo-container {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
  padding-top: 140px;
  margin-bottom: 102px;
}

.about__text {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  padding-bottom: 82px;
}

.footer__address {
  margin-left: 50px;
}

.footer__menu-list {
  list-style: none;
  line-height: 22px;
}

.footer__menu {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

 .footer__menu-link {
  text-decoration: underline solid 1px;
  text-underline-offset: 4.1px;
 }

 .footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 48px;
  padding-left: 25px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
